section#place-photo{
    position: relative;
}
section#place-photo img{
    width: 100%;
}

section#place-photo .place-name{
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    background-color: darkgreen;
    border: 1px solid white;
    padding: 9px 15px;
    border-radius: 9px;
}