.game-question[hide]{
    transform: translate(-30px); opacity: 0;
}
.game-question[fade-in]{
    animation: fade-in 0.6s;
}

.game-question[fade-in] .possible-answers button{
    animation: scale-up 1.2s;
}

section#question .question-title{
    text-align: center;
    padding: 15px;
}

section#question ul.possible-answers{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    gap: 5px;
}

@media (min-width: 500px){
    section#question ul.possible-answers{
        grid-template-columns: 1fr 1fr;
    }
}

section#question ul.possible-answers li button{
    display: block;
    background-color: white;
    border: 2px solid #333;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 15px;
    color: black;
    cursor: pointer;
}

section#question ul.possible-answers li:not(.wrong-answer):not(.correct-answer) button:hover{
    background-color: #eee;
}

section#question ul.possible-answers li.wrong-answer button{
    background-color: darkred;
    color: white;
    animation: tilt-horizontally 0.3s;
    animation-iteration-count: 3;
}

section#question ul.possible-answers li.correct-answer button{
    background-color: darkgreen;
    color: white;
    animation: scale-up-and-shake 0.5s;
    /* animation-iteration-count: 3; */
}

.question-end-buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9px;
    padding: 15px;
    border: 1px solid #dedede;
    border-radius: 9px;
}
button.next-level{
    display: block;
    background-color: darkgreen;
    color: white;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    font-weight: bold;
}

button.share{
    display: block;
    background-color: #dedede;
    color: black;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    font-weight: bold;
    
}

@keyframes tilt-horizontally {
    0% {transform: translate(0,0);}
    33% {transform: translate(-10px,0);}
    66% {transform: translate(20px,0);}
    100% {transform: translate(-10px,0);}
}

@keyframes scale-up-and-shake {
    0% {transform: scale(1) rotate(0deg);}
    33% {transform: scale(1.1) rotate(-15deg);}
    66% {transform: scale(1.3) rotate(30deg);}
    100% {transform: scale(1) rotate(-15deg);}
}

@keyframes fade-in {
    0% {transform: translate(-30px); opacity: 0;}
    100% {transform: translate(0); opacity: 1;}
}

@keyframes scale-up {
    0% {transform: scale(0.6);}
}