#toaster-wrapper{
    display: flex;
    position: fixed;
    bottom: 100%;
    width: 100%;
    transition: bottom 0.3s ease;
    font-weight: bold;
}

#toaster-wrapper #toaster{
    margin: auto;
    background-color: black;
    color: white;
    padding: 9px 30px;
    margin-top: 30px;
    width: 300px;
    text-align: center;
}

#toaster-wrapper[show="1"]{
    bottom: calc(100% - 60px);
}